# Intro a Python. Sesion I:
## Tipos de datos
- String

- int

- float

- Bool

## Estructura de datos
- Listas

- Tuples

- Diccionarios

## Condicionales
- And

- Or
## Loops
- Hacer un loop sobre una lista

- Hacer un loop sobre un diccionario

## Tipos de datos

### Int

In [1]:
a = 5
a

5

In [2]:
type(a)

int

In [3]:
a + 5

10

### Float

In [4]:
b = a / 2
b

2.5

In [5]:
type(b)

float

In [6]:
b

2.5

In [8]:
c = a // 2

In [12]:
c

2

In [13]:
type(c)

int

In [15]:
d = a % 3
d

2

In [16]:
10 % 6

4

In [17]:
7 % 7

0

### Strings

In [18]:
texto1 = 'QUIERO'
texto1

'QUIERO'

In [19]:
type(texto1)

str

In [20]:
texto2 = 'QUESADILLA'
texto1 + texto2

'QUIEROQUESADILLA'

In [21]:
texto1 + ' ' + texto2

'QUIERO QUESADILLA'

In [22]:
(texto1 + ' ' + texto2).lower()

'quiero quesadilla'

In [23]:
(texto1 + ' ' + texto2).capitalize()

'Quiero quesadilla'

In [24]:
texto2 * 3

'QUESADILLAQUESADILLAQUESADILLA'

In [25]:
len(texto2)

10

### Bools

In [27]:
a = True
print(a)

True

In [28]:
type(a)

bool

In [29]:
texto1 == 'QUIERO'

True

In [30]:
b = texto1 == 'NO QUIERO'
b

False

In [31]:
not a

False

In [32]:
not b

True

In [33]:
a or b

True

In [34]:
a and b

False

## Listas

In [37]:
list1 = ['a', 'b', 'c', 'd', 'e']
list1

['a', 'b', 'c', 'd', 'e']

In [38]:
list2 = list(( 1, 2, 3, 4))
print(list2)

[1, 2, 3, 4]

In [39]:
list1 + list2

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4]

In [42]:
list3 = list1 + list2 + ['z', 'y', 'x']
list3

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 'z', 'y', 'x']

In [43]:
list3.append('wenseslao')
list3

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 'z', 'y', 'x', 'wenseslao']

In [44]:
len(list3)

13

## Indexar listas

El primer elemento está en la posición 0 (cero)

In [45]:
list3[0]

'a'

El límite inferior se incluye, el superior se excluye

In [46]:
list3[0:3]

['a', 'b', 'c']

In [48]:
len_list = len(list3)

In [49]:
list3[len_list]

IndexError: list index out of range

In [50]:
list3[len_list - 1]

'wenseslao'

También están enumerados de derecha a izquierda empezando en -1 y descendiendo

In [52]:
list3[-1]

'wenseslao'

In [53]:
list3[-3:-1]

['y', 'x']

In [57]:
list3[-1] = 'Emanuel'
list3.append('aaa')
list3 += ['Carlos']
list3

['a',
 'b',
 'c',
 'd',
 'e',
 1,
 2,
 3,
 4,
 'z',
 'y',
 'x',
 'Emanuel',
 'Emanuel',
 'aaa',
 'Emanuel',
 'aaa',
 'Carlos']

## Lista de listas

In [58]:
lista4 = [['Enero', 'Febrero', 'Marzo', 'Abril'], [31, 28, 31, 30]]

In [59]:
lista4[0]

['Enero', 'Febrero', 'Marzo', 'Abril']

In [60]:
lista4[0][0]

'Enero'

In [62]:
lista4[0][0][-1]

'o'

### Tuples

In [63]:
tup1 = (1, 2, 3)
tup1

(1, 2, 3)

In [64]:
tup2 = tuple(('a', 'b', 'c'))
tup2

('a', 'b', 'c')

In [65]:
tup3 = tup1 + tup2
tup3

(1, 2, 3, 'a', 'b', 'c')

No se puede hacer append

In [66]:
tup3.append((4, 5, 6))

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
tup4 = tup3 + (('d', 'e', 'f'))
tup4

(1, 2, 3, 'a', 'b', 'c', 'd', 'e', 'f')

In [68]:
tup4[0]

1

In [72]:
tup4[:3]

(1, 2, 3)

No se puede reasignar un valor

In [73]:
tup4[3] = 'b'

TypeError: 'tuple' object does not support item assignment

In [74]:
tup1

(1, 2, 3)

Unpacking

In [78]:
a, b, c = tup1
print(a)
print(b)
print(c)

1
2
3

### Diccionarios

Mapa de una clave a un valor

In [79]:
meses = {'Enero': 31,
         'Febrero': 28,
         'Marzo': 31,
         'Abril': 30,
         'Mayo': 31,
         'Junio': 30}
meses

{'Enero': 31, 'Febrero': 28, 'Marzo': 31, 'Abril': 30, 'Mayo': 31, 'Junio': 30}

In [91]:
casa_lupe = {'cuartos': 3,
             'banios': 2,
             'edades_integrantes': [10, 40, 38],
             'nombres_integrantes': ['Mario', 'Carla', 'Lupe']}
casa_lupe

{'cuartos': 3,
 'banios': 2,
 'edades_integrantes': [10, 40, 38],
 'nombres_integrantes': ['Mario', 'Carla', 'Lupe']}

In [81]:
meses['Enero']

31

In [82]:
casa_lupe['banios']

2

In [83]:
casa_lupe['cuartos']

3

Cambiamos el valor

In [84]:
casa_lupe['cuartos'] = 4
casa_lupe

{'cuartos': 4,
 'banios': 2,
 'edades_integrantes': [10, 40, 38],
 'nombres_integrantes': ['Mario', 'Carla', 'Lupe']}

Insertamos un nuevo valor

In [85]:
meses['Julio'] = 31
meses

{'Enero': 31,
 'Febrero': 28,
 'Marzo': 31,
 'Abril': 30,
 'Mayo': 31,
 'Junio': 30,
 'Julio': 31}

Añadimos un integrante

In [88]:
casa_lupe['nombres_integrantes']

['Mario', 'Carla', 'Lupe', 'Pedro']

In [87]:
casa_lupe['nombres_integrantes'] = casa_lupe['nombres_integrantes'] + ['Pedro']

In [89]:
casa_lupe

{'cuartos': 4,
 'banios': 2,
 'edades_integrantes': [10, 40, 38],
 'nombres_integrantes': ['Mario', 'Carla', 'Lupe', 'Pedro']}

Los diccionarios son útiles cuando hay una relación uno a uno

## Condicionales

In [92]:
meses['Enero'] == 31

True

In [93]:
meses['Febrero'] == 30

False

In [94]:
meses['Enero']

31

In [96]:
print(meses['Enero'] > 31)
print(meses['Enero'] >= 31)
print(meses['Enero'] < 31)
print(meses['Enero'] <= 31)
print(meses['Enero'] in [30, 31, 'jj'])
print(isinstance(meses, dict))

False
True
False
True
True
True

In [97]:
casa_lupe['cuartos'] == 4 and casa_lupe['banios'] > 1

False

In [98]:
len(casa_lupe['nombres_integrantes']) == 4 or meses['Enero'] == 2

False

## For loop

In [101]:
for number in [1, 2, 3, 4, 5]:
    print(number)
    print('AAAA')
print('BBB')

1
AAAA
2
AAAA
3
AAAA
4
AAAA
5
AAAA
BBB

In [107]:
for word in ['German','Monica','Pato']:
    for letra in word:
        print (letra)

G
e
r
m
a
n
M
o
n
i
c
a
P
a
t
o

In [103]:
for wenses in [1, 4, 7, 11]:
    print(wenses < 5)

True
True
False
False

In [112]:
a = list(range(1, 10, 2))
a

[1, 3, 5, 7, 9]

In [113]:
for i in range(10):
    print(i * 10)

0
10
20
30
40
50
60
70
80
90

In [114]:
nueva_lista = []
for i in range(10):
    if i % 2 == 0:
        nueva_lista.append(i)

In [115]:
nueva_lista

[0, 2, 4, 6, 8]

In [124]:
letras = ['a', 'b', 'c', 'd', 'e']
for i, v in enumerate(letras):
    print(tupl)
#     print(letras[i])

(4, 'e')
(4, 'e')
(4, 'e')
(4, 'e')
(4, 'e')

In [ ]:
for mes in meses:
    print(mes)

In [ ]:
for mes in meses.keys():
    print(mes)

In [ ]:
for mes, dias in meses.items():
    print(mes, 'tiene', dias, 'dias')

In [ ]:
for v in meses.values():
    print(v ** 2)

In [ ]:
dict5 = {}
for k, v in meses.items():
    dict5[v] = k 
dict5

# Ejercicios

1. Crear lista con las primeras 5 letras del abecedario. Una vez creada, añadir las siguientes 2 letras.

In [18]:
abecedario = ['a', 'b', 'c', 'd', 'e']

In [19]:
abecedario += ['f', 'g']

In [20]:
abecedario

['a', 'b', 'c', 'd', 'e', 'f', 'g']

2. Crear una lista con los número del 0 al 100

In [23]:
lista_numeros = list(range(0, 101))

3. Hacer una segunda lista que tenga únicamente los primeros 30 números

In [25]:
primeros_treinta = lista_numeros[:30]

4. Crear una lista que tenga los elementos de la lista anterior multiplicados por 3

In [30]:
nueva_lista = []
for var in primeros_treinta:
    nuevo_valor = var * 3
    nueva_lista.append(nuevo_valor)

5. Crear una nueva lista que tenga los valores que son múltiplos de 4 de la lista anterior. Usar %

In [36]:
multiplos_de_4 = []
for num in nueva_lista:
    if num % 4 == 0:
        multiplos_de_4.append(num)
    elif num % 5 == 0:
        multiplos_de_4.append(5)
    else:
        multiplos_de_4.append(-1)

6. Crear un diccionario que asocie los nombres de los presentes y su color favorito

In [38]:
diccionario_colores = {'Camilo': 'verde',
                       'Pato': 'rojo',
                       'Leo': 'Naranja',
                       'Mariana': 'Negro',
                       'Eunice': 'Lila',
                       'Osvaldo': 'Azul', 
                       'German': 'Verde',
                       'Moni': 'Blanco'}

In [39]:
diccionario_colores

{'Camilo': 'verde',
 'Pato': 'rojo',
 'Leo': 'Naranja',
 'Mariana': 'Negro',
 'Eunice': 'Lila',
 'Osvaldo': 'Azul',
 'German': 'Verde',
 'Moni': 'Blanco'}

7. Añadir a 'Victoria', que le gusta el color 'rojo'

In [40]:
diccionario_colores['Victoria'] = 'Rojo'

In [41]:
diccionario_colores

{'Camilo': 'verde',
 'Pato': 'rojo',
 'Leo': 'Naranja',
 'Mariana': 'Negro',
 'Eunice': 'Lila',
 'Osvaldo': 'Azul',
 'German': 'Verde',
 'Moni': 'Blanco',
 'Victoria': 'Rojo'}

8. Modificar el color de uno de los nombres a azul

In [42]:
diccionario_colores['Pato'] = 'Negro'

In [43]:
diccionario_colores

{'Camilo': 'verde',
 'Pato': 'Negro',
 'Leo': 'Naranja',
 'Mariana': 'Negro',
 'Eunice': 'Lila',
 'Osvaldo': 'Azul',
 'German': 'Verde',
 'Moni': 'Blanco',
 'Victoria': 'Rojo'}

9. Crear un diccionario que mapee a cada uno de los presentes con un diccionario de color y numero favorito

In [44]:
diccionario_color_numero = {'Camilo': {'color': 'verde', 'numero': 13},
                            'Pato': {'color': 'azul', 'numero': 7}}

In [45]:
diccionario_color_numero

{'Camilo': {'color': 'verde', 'numero': 13},
 'Pato': {'color': 'azul', 'numero': 7}}

In [50]:
diccionario_color_numero['Pato']['color'] = 'rojo'

In [51]:
diccionario_color_numero

{'Camilo': {'color': 'verde', 'numero': 13},
 'Pato': {'color': 'rojo', 'numero': 7}}

10. Crear un diccionario vacío. Hacer un loop sobre la lista creada en el ejercicio 1, y añadir al diccionario una lista con los numeros que son múltiplos de 3 y otra con los que son múltiplos de 2.

In [52]:
diccionario_contador = {'multiplos_3': [],
                        'multiplos_2': []}
for num in lista_numeros:
    if num % 3 == 0:
        diccionario_contador['multiplos_3'].append(num)
    if num % 2 == 0:
        diccionario_contador['multiplos_2'].append(num)

In [57]:
diccionario_colores.pop('Moni')

'Blanco'

In [58]:
diccionario_colores

{'Camilo': 'verde',
 'Pato': 'Negro',
 'Leo': 'Naranja',
 'Mariana': 'Negro',
 'Eunice': 'Lila',
 'Osvaldo': 'Azul',
 'German': 'Verde',
 'Victoria': 'Rojo'}

11. Usando la lista de nuestros nombres, crear un diccionario que cuente cuantas veces aparece cada letra usando un loop.

In [59]:
nombres = ['Pato', 'Leo', 'Mariana', 'Eunice', 'Osvaldo', 'German', 'Moni', 'Camilo']

In [63]:
contador = {}
for name in nombres:
    for letra in name:
        if letra in contador:
            contador[letra] = contador[letra] + 1
        else:
            contador[letra] = 1

In [64]:
contador

{'P': 1,
 'a': 7,
 't': 1,
 'o': 5,
 'L': 1,
 'e': 3,
 'M': 2,
 'r': 2,
 'i': 4,
 'n': 4,
 'E': 1,
 'u': 1,
 'c': 1,
 'O': 1,
 's': 1,
 'v': 1,
 'l': 2,
 'd': 1,
 'G': 1,
 'm': 2,
 'C': 1}

12. Utilizar el diccionario de colores para imprimir la siguiente leyenda " A <> le gusta mucho el <>"

In [69]:
diccionario_colores

{'Camilo': 'verde',
 'Pato': 'Negro',
 'Leo': 'Naranja',
 'Mariana': 'Negro',
 'Eunice': 'Lila',
 'Osvaldo': 'Azul',
 'German': 'Verde',
 'Victoria': 'Rojo'}

In [71]:
for key, dict2 in diccionario_color_numero.items():
    for key2, val2 in dict2.items():
        print("A {} le gusta mucho el {} {}".format(key, key2, val2))

A Camilo le gusta mucho el color verde
A Camilo le gusta mucho el numero 13
A Pato le gusta mucho el color rojo
A Pato le gusta mucho el numero 7

13. Crear un string con la siguiente frase: El Toluca es el mejor equipo de la liga MX

In [78]:
frase = 'El Toluca es | el mejor equipo de la liga MX'

14. Convertir el string a minusculas

In [73]:
frase.lower()

'el toluca es el mejor equipo de la liga mx'

15. Convertir el string a mayúsculas

In [74]:
frase.upper()

'EL TOLUCA ES EL MEJOR EQUIPO DE LA LIGA MX'

16. Reemplazar los espacios por guiones

In [79]:
frase.replace('|', ' ')

'El Toluca es   el mejor equipo de la liga MX'

17. Convertir el string en una lista de palabras.

In [76]:
frase.split(' ')

['El', 'Toluca', 'es', 'el', 'mejor', 'equipo', 'de', 'la', 'liga', 'MX']

In [ ]:
frase2 =