# Intro a Python. Sesion II:
- Funciones

## Functions

In [4]:
def multiply_by_two(x):
    '''
    Funciton to multiply a value by 2.
    Inputs:
        x: Int  o float
    Output:
        Int  o float
    '''
    x_doubled = x * 2
    return x_doubled

In [2]:
multiply_by_two(10)

20

In [3]:
multiply_by_two(15)

30

In [5]:
def multiply_odds_by_2_evens_by_3(list_of_num):
    '''
    This function will multiply each odd number in the 
    list by 2 and every even number by 1/2
    Inputs:
        list_of_num: lst
    Output:
        lst
    '''
    rv = []
    for number in list_of_num:
        if number % 2 == 1: #Indicates that number is odd
            rv.append(number * 2)
        else:
            rv.append(number * 1/2)
    return rv

In [6]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiply_odds_by_2_evens_by_3(list1)

[2, 1.0, 6, 2.0, 10, 3.0, 14, 4.0, 18, 5.0]

Now lets do the same with list comprehension. First only add 2, then conditional on even or odd.

In [ ]:
[x + 2 for x in list1] #Only multiply by 2

In [ ]:
[x * 2 if x%2 == 1 else x * 1/2 for x in list1]
#Same as function multiply_odds_by_2_evens_by_3

Now, I only want to group numbers into odds and evens. Function that returns a dictionary that maps 'odds' to list of odds and 'evens' to list of evens.

In [7]:
def classify_odds_even(list_of_num):
    '''
    Funciton to classify numbers in a list as odds or even.
    Inputs:
        list_of_num: lst
    Outpus:
        Dict
    '''
    classification = {"odds": [],
                      "evens": []}  #Create dict with empty lists
    for number in list_of_num:
        if number % 2 == 0:
            classification['evens'].append(number)
        else:
            classification['odds'].append(number)
    
    return classification

In [8]:
classify_odds_even(list1)

{'odds': [1, 3, 5, 7, 9], 'evens': [2, 4, 6, 8, 10]}

In [ ]:
list2 = [2, 4, 6, 8, 10, 12, 14, 16]
classify_odds_even(list2)

Multiple return statements

In [18]:
def is_prime(x):
    '''
    Returns True if x is prime
    Inputs:
        x: Int
    Output:
        bool
    '''
    for n in range(2, x):
        if x % n == 0:
            return False
    return True

In [26]:
is_prime(2)

True

In [11]:
is_prime(11)

True

In [24]:
def convertir_a_dolares(monto, t_c=19):
    '''
    Convertir monto a d√≥lares
    inputs:
        monto: int
        t_c: int
    Output:
        float o int
    '''
    return monto * t_c

In [25]:
convertir_a_dolares(monto=2000, t_c=2000)

4000000